:root{
    --white: #fff;
    --text_color: rgb(73, 88, 124);
    --bg_color: rgb(196, 214, 214);
    --list-style: none;
}

.header{
    background-color: var(--text_color);
    color: var(--text_color);
}
.header h1{
    padding: 10px 10px 10px 50px;
    background-color: var(--bg_color);
    display: inline-block;
}

.header nav{
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul{
    list-style-type: var(--list-style);
}

.header nav ul li{
    display: inline-block;
}

.header nav ul li a{
    color:  var(--bg_color);
}

.content{
    display:flex;
    margin: 50px 0;
    color:var(--text_color);
    justify-content: center;
}

.content h2{
    margin-top: 0px;
    width: 10%;
}

.content div{
    padding-left: 20px;
    border-left: 3px solid var(--text_color);
    width: 60%;
}
.content div p{
    margin-top: 0px;
}
.content div ul{
    display: flex;
    list-style-type: var(--list-style);
    justify-content: space-evenly;
}

.content div ul li{
    display: flex;
    padding: 0 10px;
    border-bottom: 3px solid var(--text_color);
}


.content div ul li a{
    color: var(--text_color);
    text-decoration: none;
}