:root{
    --white: #fff;
}

.header{
    background-color: rgb(144, 157, 188);
    color: var(--white);
}
.header h1{
    padding: 10px 10px 10px 50px;
    background-color: rgb(45, 59, 59);
    display: inline-block;
}

.header nav{
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul{
    list-style-type: none;
    justify-content: space-between;
}

.header nav ul li{
    display: inline-block;
}

a{
    color:  rgb(45, 59, 59);
}

